<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  </head>

  <body
    class="d-flex justify-content-center align-items-center vh-100 bg-light"
  >
    <div class="card shadow p-4" style="min-width: 300px; max-width: 400px">
      <h3 class="text-center mb-3">Admin Login</h3>

      <% if (error) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %>

      <form method="POST" action="/api/auth/login">
        <input type="hidden" name="redirect" value="<%= redirect %>"/>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </body>
</html>
